* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

main > * + * {
  margin-top: 3rem;
}

#books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#books > div {
  background: black;
  display: flex;
  justify-content: center;
  width: 100%;
}

#books img {
  height: auto;
  object-fit: cover;
  object-position: center;
  opacity: 0.1;
  transition: opacity 200ms ease-in-out;
  vertical-align: middle;
  width: 100%;
}

#books img.loaded {
  opacity: 1;
}
