* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}

@media (min-width: 700px) {
  body {
    font-size: 1.2rem;
  }
}

a {
  color: blue;
}

#books {
  background: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#books > div {
  display: flex;
  justify-content: center;
  width: 100%;
}

#books > div > div {
  display: flex;
}

#books img {
  height: auto;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  width: 100%;
}

#books img.loaded {
  height: auto;
  opacity: 1;
  width: 100%;
}

header > * + *,
footer > * + * {
  margin-top: 3rem;
}

header > p,
footer > p {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 90%;
}

header {
  min-height: 100vh;
}
footer {
  min-height: 100vh;
}

header,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
}
